@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
    font-family: 'Android';
    src: url("../css/fontes/idroid.otf")
}
/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/
* {
    margin: 0px;
    padding: 0px;
}
:root{
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #063d1e;

    --fonte-padrao: Arial, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

body{
    text-align: justify;
    background-color: antiquewhite;
    font-family: var(--fonte-padrao);

}

header{
    padding-top: 15px;
    background-image:linear-gradient(to bottom, var(--cor04), var(--cor06));
    font-family: var(--font-destaque);
}

header > h1{
    margin: 15px 0px;
    text-shadow:0px 2px 2px black;
    text-align: center;
    color: white;
    font-family: var(--font-destaque);
}
header > p{
    text-shadow:0px 2px 2px black;
    color: white;
    font-family: var(--font-destaque);
    text-align: center;
    padding-bottom: 40px;
}
nav{
    padding: 3px;
    background-color: var(--cor06);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.437);
}
nav > a{
    padding: 3px;
    color: #000000;
    text-decoration: none;
    border-radius: 3px;
}
nav > a:hover{
    padding: 3px;
    border-radius: 3px;
    background-color: #3ddc84;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.437);

    
}
main{
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: auto;
    min-width: 400px;
    max-width: 800px;
    background-color: white;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.484);
}

main h1{
    background-image: linear-gradient(to right, var(--cor02), transparent);
    font-size: 2em;
    color: var(--cor06);
    font-family: var(--fonte-android);
    text-shadow:0px 1px 2px rgba(0, 0, 0, 0.644);
    text-indent: 8px;

}

main h2{
    text-indent: 8px;
    margin: 15px 0px;
    font-size: 1.3em;
    font-family: var(--fonte-android);
    text-shadow:0px 1px 2px rgba(0, 0, 0, 0.644);
    background-image: linear-gradient(to right, var(--cor02), transparent);
    color: #257a4b;
}
main p{
    margin:15px 0px;
    text-shadow:0px 1px 2px rgba(0, 0, 0, 0.644);
    font-family: var(--fonte-padrao);
    text-indent: 40px;
    line-height: 2em;
    font-size: 1.1em;
}
img, iframe {

    display: block;
    margin: auto;
    max-width: 100%;
    width: 800px;
}
aside{
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--cor02);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.673);
}
aside ul{
    padding: 10px;
    list-style-position: inside;
    columns: 2;

}
aside h3{
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    font-family: var(--fonte-android);
    color: white;
    background-color: #1a5c37;
    font-size: 1.5em;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.519);
}


footer{
    margin-top: 20px;
    padding: 5px;
    background-color: #063d1e;
    color: white;
    text-align: center;
}